<h1>{{username}}'s Posts</h1>

{{#if user_is_op}}
{{> post_form}}
{{/if}}

{{#each posts as |post|}}
<a href="/post/{{post.id}}">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{convert_dateCreated post.createdAt}}</h6>
            <p class="card-text">{{post.message}}</p>
        </div>
    </div>
</a>
{{else}}
<h1>No posts yet...</h1>
{{/each}}