<h1>{{username}}'s Posts</h1>

{{#if user_is_op}}
<form onsubmit="submit_post()">
    <label for="post_title">Post Title</label>
    <input type="text" id="post_title" />

    <textarea name="post" id="post_message"></textarea>

    <button type="submit">Submit</button>
</form>

<script src="/js/submit_post.js"></script>
{{/if}}

{{#each posts as |post|}}
<a href="/post/{{post.id}}">
    <section>
        <h1>{{post.title}} @ {{convert_dateCreated post.createdAt}}</h1>
        <p>{{post.message}}</p>
    </section>
</a>
{{else}}
<h1>No posts yet...</h1>
{{/each}}