<div class="card post_card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title post_title">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{convert_dateCreated post.submit_date}}</h6>
        <p class="card-text post_message">{{post.message}}</p>
    </div>
</div>

{{#if user_is_op}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li>{{> update_form}}</li>
        <li>{{> delete_form}}</li>
    </ol>
</nav>
{{/if}}

<section class="comments">
    <h1>Comments</h1>
    {{#each post.comments as |comment|}}
    <section>
        <h4>{{comment.user.username}} @ {{convert_dateCreated comment.createdAt}}</h4>
        <p>{{comment.message}}</p>
    </section>
    {{/each}}
</section>

{{#if loggedIn}}
<form onsubmit="post_comment()">
    <div data-post_id="{{post.id}}" id="comment_post_id"></div>

    <div class="form-group">
        <label for="comment_message">Leave a comment</label>
        <textarea class="form-control" name="comment" id="comment_message" rows="3"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Comment</button>
    </div>    
</form>

<script src="/js/submit_post.js"></script>
{{/if}}